/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#content .course-index .course {
    float: left;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #FCFCFC;
}

#content .course-index .course .title {
    font-weight: bold;
    text-align: center;
}

.items {
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #FCFCFC;
}

.items .item {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: url(../img/mybg.png) #FCFCFC;
    list-style: none;
}

.item.exam {
    float: left;
}

.items .item .close {
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../img/jqueryui/ui-icons_cd0a0a_256x240.png);
}
.items .item .collapsible {
    position: absolute;
    top: 50%;
    left: -20px;
}

.colortext {color: green; }

.answer.answer-right{
    border: 1px solid #0AA699;
}
.answer.answer-wrong {
    border: 1px solid #FF4500;
}
.answer.answer-right.passed-right {
    background: #0AA699;
}
.answer.answer-wrong.passed-right {
    background: #FF4500;
}