/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#content .course-index .course {
    float: left;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #FCFCFC;
}

#content .course-index .course .title {
    font-weight: bold;
    text-align: center;
}
.pass-test .timer, .passed-exam-view .timer {
    font-weight: bold;
}
.pass-test .item, .passed-exam-view .item {
    border: 1px solid #ccc;
    margin: 10px;
}
.pass-test .item.answer div, .passed-exam-view .item.answer div {
    float: left;
}
.questions {
    width: 570px;
    position: relative;
}
.questions li {
    list-style: none;
}
.questions .question-current {
    width: 420px;
    margin: 0 75px;
    overflow: hidden;
}
.questions .control {
    width: 50px;
    position: absolute;
    top: 50%;
    text-align: center;

    color: #fff;
    background-color: #739e73;
    border-color: #659265;

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.questions .control.control-left {
    left: 0px;
}
.questions .control.control-right {
    right: 0px;
}
.questions-container {
    width: 300%;
    padding: 0;
}
.questions-container .question {
    float: left;
    width: 400px;
}
.pass-test .answer.checked, .pass-test .answer:hover {
    background: #0AA699;
}
.passed-exam-view .answer.answer-right{
    border: 1px solid #0AA699;
}
.passed-exam-view .answer.answer-wrong {
    border: 1px solid #FF4500;
}
.passed-exam-view .answer.answer-right.passed-right {
    background: #0AA699;
}
.passed-exam-view .answer.answer-wrong.passed-right {
    background: #FF4500;
}


.items {
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #FCFCFC;
}

.items .item {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: url(../img/mybg.png) #FCFCFC;
    list-style: none;
}

.item.exam {
    float: left;
}

.item .title {
    font-weight: bold;
}
.item .title, .item .description {
    padding: 5px;
    text-align: center;
}
